<div class="container">
  <h2 class="form-signin-heading">Sign up as an Admin</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signin' }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.fields_for :user, User.new do |u| %>
      <%= u.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      <%= u.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
      <%= u.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Password confirmation' %>
    <% end %>

    <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First name' %>
    <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: 'Last name' %>
    <%= f.label :avatar_image, 'Avatar', class: 'control-label' %>
    <%= f.file_field :avatar_image, class: 'form-control' %>
    <%= f.label :passport_image, 'Photo of passport', class: 'control-label' %>
    <%= f.file_field :passport_image, class: 'form-control' %>
    <%= f.label :birthdate, class: 'control-label' %>
    <%= f.date_select :birthdate, start_year: Date.today.year - 150, end_year: Date.today.year, default: 10.years.ago,
                                  class: 'form-control', label: 'birthdate' %>

    <div class="actions">
      <%= f.submit 'Sign up', class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>
