<div class="container">
  <h2 class="form-signin-heading">Sign up as a Seller</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signin' }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.fields_for :user, User.new do |u| %>
      <%= u.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      <%= u.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
      <%= u.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Password confirmation' %>
    <% end %>

    <%= f.text_field :shop_name, autofocus: true, class: 'form-control', placeholder: 'Shop name' %>

    <div class="actions">
      <%= f.submit 'Sign up', class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>
