<!DOCTYPE html>
<html>
<head>
  <title>Training</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="gray-bg">
<div class="middle-box text-center loginscreen  animated fadeInDown">
  <%= flash_messages %>
  <%= yield %>
</div>

</body>
</html>
